* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

body {
    background-color: rgb(8, 59, 76);
    position: relative;
}
.pageInfo{
    position: absolute;
    top:0;
    left: 700px;
    bottom: 1000px;
    right: 0;
    background-color: rgb(179, 162, 195);
    z-index: 9999;
    padding: 100px;
    text-align: center;

}
.dnone{
    display: none;
}
h1 {
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 30px;
    animation: scritta 1s ;
}
@keyframes scritta {
    0%{
        transform: translate(0);
    }
    8%{
        transform: translate(200px);
    }
    16%{
       transform: translate(-100px);
    }
    24%{
        transform: translate(100px);
    }
    32%{
        transform: translate(-50px);
    }
    40%{
        transform: translate(50px);
    }
    48%{
        transform: translate(-40px);
    }
    56%{
        transform: translate(40px); 
    }
    64%{
        transform: translate(-30px);
    }
    72%{
        transform: translate(30px);
    }
    80%{
        transform: translate(-20px);
    }
    88%{
        transform: translate(20px);
    }
    96%{
        transform: translate(-10px);
    }
    to{
       transform: translate(0);
    }
    
}

.container {
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.rounded {
    border: 1px solid black;
    border-radius: 25px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color:rgb(19, 137, 178);
}

.yellow {
    background-color: rgb(255, 209, 102);
}

.red {
    background-color: rgb(240, 70, 111);
}

.green {
    background-color:rgb(11, 214, 160);
}

.square:hover {
    border-radius: 50%;
}


.container{
    animation-name: dnone;
    animation-duration: 4s;
}
@keyframes dnone {
    from{
       filter: opacity(0);
    }
    to{
        
      filter: opacity(1);
    }
    
}
.fizz:hover{
    color: rgb(255, 209, 102); ;
}
.buzz:hover{
    color: rgb(11, 214, 160) ;
}
.dom:hover{
    color:  rgb(240, 70, 111);;
}

.info{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    height: 30px;
    width: 30px;
}